<br><br><br>

<table class="table">
    <thead class="bg-warning">
      <tr >
        <th scope="col" class="bg-warning">#</th>
        <th scope="col" class="bg-warning">Date</th>
        <th scope="col" class="bg-warning">Category</th>
        <th scope="col" class="bg-warning">Item</th>
        <th scope="col" class="bg-warning">Quantity</th>
        <th scope="col" class="bg-warning">Paid</th>
        <th scope="col" class="bg-warning">Dew</th>
        <th scope="col" class="bg-warning">Dew Pay Date</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td >Larry the Bird</td>
        <td>@twitter</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>




  <br><br><br><br>

  <h1><hr></h1>
<br><br>
  <form class="row g-3">

    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Date</label>
        <input type="date" class="form-control" id="Categoryl4">
      </div>

    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Category</label>
      

      <select class="form-select"   >
  <option selected>Category</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
    </div>


    <div class="col-md-4">
      <label for="inputPassword4" class="form-label">Item</label>
      <input type="password" class="form-control" id="Item4">
    </div>
    <div class="col-3">
      <label for="inputAddress" class="form-label">Quantity </label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234">
    </div>

    <div class="col-4">
      <label for="inputAddress2" class="form-label">Amount Paid</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="">
    </div>

    <div class="col-5">
        <label for="inputAddress2" class="form-label">Total</label>
        <input type="number" class="form-control" id="inputAddress2" placeholder="">
      </div>

    <div class="col-md-6">
      <label for="inputCity" class="form-label">Dew</label>
      <input type="number" class="form-control" id="inputCity">
    </div>
    
    <div class="col-md-6">
        <label for="inputCity" class="form-label">Return Date</label>
        <input type="date" class="form-control" id="inputCity">
      </div>



    <div class="col-12">
      <button type="submit" class="btn btn-primary float-end">Add</button>
    </div>
  </form>