<br><br>
<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cust ID</th>
      <th scope="col">Bill ID</th>
      <th scope="col">Total</th>
      <th scope="col">Vat</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">1</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>A102</td>
      <td>7742</td>
      <td>2,000</td>
      <td>19.00</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>A103</td>

      <td>7743</td>
      <td>3,000</td>
      <td>14.00</td>
    </tr>

    <tr>
      <th scope="row">1</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>A101</td>
      <td>7741</td>
      <td>1,000</td>
      <td>15.00</td>
    </tr>


    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td class="bg-success-subtle" colspan="2"><b>=6,000</b></td>
      <td></td>

    </tr>
  </tbody>
</table>