.margin-right20 {
  margin-right: 20px;
}

.table-extra-condensed > tbody > tr > th,
.table-extra-condensed > tfoot > tr > th,
.table-extra-condensed > thead > tr > td,
.table-extra-condensed > tbody > tr > td,
.table-extra-condensed > tfoot > tr > td {
    padding: 0 !important;
    font-size: 11px;
}

.input-xs {
    height: 20px !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.2 !important;
    border-radius: 3px !important;
}