
<h1>Edit</h1>

<form [formGroup]="userForm" (ngSubmit)="onSub()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
  
        <input
          type="email"
          formControlName="inputEmail4"
          class="form-control"
          id="inputEmail4"
          placeholder="Email"
        />
  
      </div>
  
  
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        
        
        <input
          type="password"
          formControlName="inputPassword4"
          class="form-control"
          id="inputPassword4"
          placeholder="Password"
        />
      </div>
  
  
  
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input
        type="text"
        formControlName="inputAddress"
        class="form-control"
        id="inputAddress"
        placeholder="1234 Main St"
      />
    </div>
    
    
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input
        type="text"
        class="form-control"
        formControlName="inputAddress2"
        id="inputAddress2"
        placeholder="Apartment, studio, or floor"
      />
    </div>
    
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" formControlName="inputCity" id="inputCity" />
      </div>
      
      
      
      <div class="form-group col-md-4">
        <label for="inputState">Select Your Course</label>
        <select id="inputState" formControlName="inputState"  class="form-control">
          <option selected>Choose...</option>
          <option>PHP</option>
          <option>JAVA</option>
          <option>GAVE</option>
          <option>C#</option>
          <option>NT</option>
          <option>DDD</option>
        </select>
      </div>
      
      
  
  
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" formControlName="inputZip" id="inputZip" />
      </div>
    </div>
    
    
    
    
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="gridCheck" id="gridCheck" />
        <label class="form-check-label"  for="gridCheck"> Check me out </label>
      </div>
    </div>
  
  
    
    <!-- <button type="submit" (click)="onSub()" class="btn btn-primary">Sign in</button> -->
    <button type="submit" (click)="onSub()" class="btn btn-primary" >Update</button>
  
  
  
  
  </form>
  
  
  
  
  
  